.post-card
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;

    .card-post-cover
    {
        flex: 0 0 250px;
        background-size: cover;
        background-position: center;
    }

    .card-post-content
    {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        flex: 1;
        padding: 1em;
        box-sizing: border-box;

        .date
        {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            font-size: 14px;
            color: rgb(100, 100, 100);
        }

        .tags
        {
            display: flex;
            flex-direction: row;

            a
            {
                font-size: 14px;
                color: rgb(100, 100, 100);
                text-decoration: none;
            }

            a:hover
            {
                color: rgb(30, 30, 30);
            }

            .comma
            {
                margin-right: 0.5em;
                color: rgb(100, 100, 100);
            }
        }

        .title
        {
            margin: 0 0 0.5em 0;
            font-size: 1.17em;
            font-weight: 700;
            text-decoration: none;
            color: rgb(30, 30, 30);
        }

        .fragment
        {
            color: rgb(100, 100, 100);
        }
    }
}

@media (min-width: 650px)
{
    .post-card
    {
        flex-direction: row;
        height: 250px;
    }
}