.main-navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 2em;
    box-sizing: border-box;

    .navigation-container
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1 1 100%;
        max-width: 1024px;

        .navigation-list
        {
            display: none;
            flex-direction: row;
            align-items: center;
            gap: 2em;
            flex: 1 1 100%;
            margin: 0;
            padding: 0;
            list-style: none;

            .navigation-link
            {
                font-weight: 700;
                text-decoration: none;
                transition: color 0.25s;

                a
                {
                    color: rgb(170, 170, 170);
                    text-decoration: none;
                    transition: color 0.25s;
                }
            }

            .navigation-link:hover
            {
                a
                {
                    color: rgb(220, 220, 220);
                    transition: color 0.25s;
                }
            }

            .navigation-link.active
            {
                a
                {
                    color: rgb(220, 220, 220);
                }
            }
        }

        .navigation-search
        {
            display: none;
            cursor: pointer;

            i
            {
                color: rgb(220, 220, 220);
            }
        }
    }
}

.navigation-button
{
    cursor: pointer;

    i
    {
        font-size: 20px;
        line-height: 0;
    }
}

.navigation-modal
{
    display: flex !important;
    flex-direction: row;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: rgba(#000, 0);

    .modal-body
    {
        display: flex;
        flex-direction: column;
        gap: 3em;
        flex: 0 1 250px;
        padding: 1.5em;
        box-sizing: border-box;
        background-color: #fff;

        header
        {
            .navigation-close
            {
                cursor: pointer;
            }
        }

        .navigation-search
        {
            cursor: pointer;
        }

        section
        {
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            .modal-link
            {
                font-weight: 700;
                text-decoration: none;
                color: rgb(30, 30, 30);
            }
        }
    }
}

.navigation-modal.open
{
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    transition: background-color 0.25s;

    .modal-body
    {
        transform: translate(0, 0);
        transition: transform 0.25s;
    }
}

.navigation-modal.closing
{
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.25s;

    .modal-body
    {
        transform: translate(-250px, 0);
        transition: transform 0.25s;
    }
}

.navigation-modal.closed
{
    left: -100%;
    background-color: rgba(0, 0, 0, 0);

    .modal-body
    {
        transform: translate(-250px, 0);
    }
}

.search-modal
{
    display: flex !important;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0 2em;
    box-sizing: border-box;
    background-color: rgba(#000, 0);

    .modal-body
    {
        display: flex;
        flex-direction: column;
        flex: 0 1 600px;
        border-radius: 6px;
        padding: 2em;
        box-sizing: border-box;
        background-color: #fff;
    }
}

.search-modal.open
{
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    transition: background-color 0.25s;

    .modal-body
    {
        transform: translate(0, 48px);
        transition: transform 0.25s;
    }
}

.search-modal.closing
{
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.25s;

    .modal-body
    {
        transform: translate(0, -100%);
        transition: transform 0.25s;
    }
}

.search-modal.closed
{
    top: -100%;
    background-color: rgba(0, 0, 0, 0);

    .modal-body
    {
        transform: translate(0, -100%);
    }
}

@media (min-width: 1024px)
{
    .main-navbar
    {
        background-color: rgb(30, 30, 30);
    }

    .navigation-button
    {
        display: none;
    }

    .main-navbar
    {
        .navigation-container
        {
            .navigation-list
            {
                display: flex;
            }

            .navigation-search
            {
                display: flex;
            }
        }

        .navigation-modal
        {
            left: -100%;
            background-color: rgba(0, 0, 0, 0);

            .modal-body
            {
                transform: translate(-250px, 0);
            }
        }
    }
}