section.post-list
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3em;

    .nothing-to-show
    {
        padding: 1em;
        box-sizing: border-box;
        text-align: center;
        color:rgb(30, 30, 30);
    }

    .card-post-container
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2em;

        .loading-post-card
        {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            border-radius: 8px;
            overflow: hidden;

            .loading
            {
                background-color: rgb(215, 215, 215);
                animation-name: loading;
                animation-duration: 1.25s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            .cover
            {
                height: 250px;
            }

            .content
            {
                display: flex;
                flex-direction: column;
                gap: 1em;
                flex: 1;
                padding: 1em;
                box-sizing: border-box;

                .tags
                {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5em;

                    span
                    {
                        width: 3em;
                        height: 14px;
                    }
                }

                .title
                {
                    height: 25px;
                    margin-bottom: 0.5em;
                }

                .text
                {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;

                    span
                    {
                        height: 1em;
                    }
                }
            }
        }
    }

    .page-navigation
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.75em;
    }
}

.page-nav-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.page-nav-button.mid-page-nav-button
{
    display: none;
}

.page-nav-button.active
{
    background-color: rgb(30, 30, 30);
    color: #fff;
}

@media (min-width: 650px)
{
    .page-nav-button.mid-page-nav-button
    {
        display: flex;
    }

    section.post-list
    {
        .card-post-container
        {
            .loading-post-card
            {
                flex-direction: row;

                .cover
                {
                    flex: 0 0 250px;
                }
            }
        }
    }
}