.main-header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 4em 2em 4em 2em;
    margin: 0 0 4em 0;
    box-sizing: border-box;
    background-color: #fff;

    h1
    {
        color: rgb(30, 30, 30);
        margin: 0;
        font-size: 3.5em;
        font-weight: normal;
        text-align: center;
    }

    h2
    {
        color: rgb(70, 70, 70);
        margin: 0;
        font-size: 1.5em;
        font-weight: normal;
    }
}

$left-section-width: 300px;

.main-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 2em;
    box-sizing: border-box;
    margin-bottom: 3em;

    .main-body-container
    {
        flex: 1 1 100%;
        display: flex;
        flex-direction: row;
        gap: 2em;
        max-width: 1024px;

        .main-left-section
        {
            display: none;
            flex-direction: column;
            gap: 3em;
            flex: 0 0 $left-section-width;
            box-sizing: border-box;

            .about-author
            {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 1em;
                padding: 2em;
                box-sizing: border-box;
                background-color: rgb(249, 249, 249);
                border-radius: 6px;

                .photo-container
                {
                    overflow: hidden;
                    width: 200px;
                    height: 200px;
                    border-radius: 300px;
                    background-color: rgb(70, 70, 70);
                }

                .author-information
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.5em;
                    text-align: center;

                    .name
                    {
                        font-size: 1em;
                        font-weight: 700;
                        color:rgb(30, 30, 30);
                    }

                    .bio
                    {
                        font-size: 0.85em;
                        color: rgb(70, 70, 70);
                    }
                }
            }

            .aside-subsection
            {
                display: flex;
                flex-direction: column;
                gap: 1em;
                padding: 2em;
                box-sizing: border-box;
                background-color: rgb(249, 249, 249);
                border-radius: 6px;

                .title
                {   
                    margin: 0;
                    font-size: 1.3em;
                    color:rgb(30, 30, 30);
                }
            }

            .aside-categories
            {
                .categories-list
                {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    .aside-category-item
                    {
                        a
                        {
                            display: block;
                            width: 100%;
                            padding: 0.75em 0 0.75em 0.3em;
                            text-decoration: none;
                            font-weight: 700;
                            color:rgb(70, 70, 70);
                        }

                        a:hover
                        {
                            background-color: rgb(221, 221, 221);
                        }
                    }

                    .aside-category-separator
                    {
                        border-bottom: 1px solid rgb(221, 221, 221);
                    }
                }
            }
        }

        .main-right-section
        {
            flex: 0 1 100%;
            box-sizing: border-box;
        }
    }
}

.main-footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3em;
    box-sizing: border-box;
    background-color: #fff;

    .footer-content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6em;
        flex: 0 0 100%;

        .footer-title
        {
            margin: 0;
            font-size: 1.8em;
            text-align: center;
            color: rgb(30, 30, 30);
        }

        .footer-info-container
        {
            display: flex;
            flex-direction: column;
            gap: 2.5em;

            .contact-container
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 2em;

                .contact-item
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 43px;
                    height: 43px;
                    border: 1px solid rgb(30, 30, 30);
                    border-radius: 300px;
                    color:rgb(30, 30, 30);
                    text-decoration: none;

                    i
                    {
                        line-height: 0;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px)
{
    .main-content
    {
        .main-body-container
        {
            .main-left-section
            {
                display: flex;
            }
        }
    }
}